<div id="contenido">
  <div id="primer">
    <h1>Batalla de Budapest</h1>
    <p>Las fuerzas de asalto soviéticas formaban parte del 2.º Frente Ucraniano del Mariscal Rodion Malinovsky; De esta fuerza, intervinieron la 53.º Ejército, el 7.º Ejército de la
    Guardia y varias unidades del 3.º Frente Ucraniano del Mariscal Fedor Tolbukhin, como el 46.º Ejército.3​</p>
    <p>Haciendo frente a la masa del Ejército Rojo, las Fuerzas del Eje contaban con el XI Cuerpo de Ejército de Montaña SS (un batiburrillo de unidades de la Wehrmacht y las Waffen-SS) al
    mando de Karl Pfeffer-Wildenbruch y varias unidades Ejército húngaro al mando del general Iván Hindy. Además, Hitler había designado a Budapest como Festung (fortaleza) que debiera
    ejercer como una barrera que detuviese al Ejército Rojo en su camino a Viena.2​ La ciudad se hallaba dividida en dos por el río Danubio, destacando dos áreas principales: Buda, en la
    parte occidental, y Pest, en la parte oriental; antes de 1867 ambas habían sido ciudades independientes. La ciudad cuenta con un gran número de edificios públicos y monumentales
    resistentes al fuego y fácilmente defendibles.</p>
  </div>
  <div id="segundo"><img src="assets/imagenes/quinto.jpg" /></div>
  <div id="gif"><iframe width="560" height="315" src="https://www.youtube.com/embed/h4SuibkTZ_U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
  <div id="tercero">
    <p>El 20 de octubre, el Ejército Rojo al mando del mariscal Rodión Malinovsky capturó Debrecen, importante ciudad en la parte oriental de Hungría. A pesar de la reticencia de Malinovski, que deseaba concentrar
    mayores fuerzas para lanzarse hacia la capital húngara, el 29 de octubre el ejército soviético comenzó el asalto contra Budapest, por imposición de Stalin.12​ Los primeros combates, antes de la llegada de
    grandes fuerzas blindadas alemanes, les resultaron favorables.13​ El mariscal soviético divide sus fuerzas de 800 000 en dos grandes grupos que debían acercarse a la ciudad desde distintos puntos, intentando
    dejar atrás a las fuerzas alemanas y húngaras.</p>
    <p>Los soviéticos comenzaron a avanzar hacia el centro desde los suburbios orientales, los cuales marcharon rápido aprovechando las anchas avenidas existentes en el área de Pest.
    Los alemanes decidieron concentrarse en la zona de Buda, que tiene un relieve geográfico más adecuado para una estrategia defensiva. La lucha urbana cada vez adquiere una mayor
    virulencia, y el frío y las bajas temperaturas hicieron mella en las tropas alemanas y húngaras. A partir del 11 de enero la ofensiva soviética vio incrementado su ataque,
    especialmente desde el Norte y el Este.16​ El bombardeo de la artillería rusa era intenso en toda la ciudad, y demostró ser especialmente efectivo en las anchas avenidas y plazas de
    Pest.</p>
    <p>La conquista definitiva del Aeropuerto de Ferihegy por el Ejército Rojo (27 de diciembre) había supuesto un duro golpe para los defensores, pues ello dificultaba la llegada de
    nuevos suministros para la guarnición cercada. Desde comienzos de enero se habían utilizado algunas de las anchas avenidas o parques cercanos al Castillo de Buda como zonas de
    aterrizaje para aviones y planeadores. El día 12 los fusileros soviéticos conquistaron el Hipódromo tras una violenta lucha, ocupando la pista de carreras que había sido una de
    las vías de llegada de nuevos suministros aéreos.18​ El 15 de enero la guarnición de Budapest había anunciado por radio la grave escasez de suministros para poder seguir combatiendo,
    aunque ese mismo día la Luftwaffe lanzó 6 toneladas de suministros suficientes para prolongar la agonía alemana por unos días más.[cita requerida] A partir de entonces se empezó a
    hacer habitual la carne de caballo entre los sitiados.</p>
  </div>



</div>
