
<div id="contenedor">
  <div id="primer">
  <h1>Ofensiva de Viena</h1>

   <p>Después de la caída de Budapest y del fracaso de la ofensiva alemana del lago Balatón, el 29 de marzo de 1945, a las 11:05 a.m., las tropas soviéticas del Tercer Frente Ucraniano cruzaron la
    antigua frontera alemana por Klostermarienberg, en el distrito de Oberpullendorf (Burgenland) y, a continuación, se dirigieron al norte. En esta parte fronteriza del llamado muro sureste,
    las líneas defensivas alemanas A y B se desmoronaron en un tiempo relativamente breve.</p>

   <p>El 4.º Ejército de la Guardia avanzó hacia Eisenstadt mientras que los Ejércitos Acorazados 6.º y 9.º, en su camino a Viena, se dirigieron a Wiener Neustadt y Baden, respectivamente.
    Solo estos ejércitos sumaban alrededor de 400.000 hombres, 400 carros de combate y unos 7.000 cañones de asalto, lanzagranadas y lanzacohetes. Hay indicios claros de que Stalin favoreció
    al mariscal Fiódor Tolbujin como previsible "vencedor de Viena'" frente a Rodión Malinovski, también mariscal de la Unión Soviética y más capaz comandante del 2.º Frente Ucraniano,
    ya que consideraba a este último como un potencial competidor político especialmente poderoso. Entre el 6 y el 11 de abril, el 46.º Ejército del 2.º Frente Ucraniano procedente de Eslovaquia
    cruzó el río Morava y, siguiendo órdenes de Stalin, avanzaron lentamente hacia el oeste, llegando a la zona oriental de Korneuburg el 13 de abril. Los distritos vieneses situados en la margen
    izquierda del Danubio (hoy en día Floridsdorf y Donaustadt) sufrieron también la retirada de las tropas SS hacia Viena.</p>

   <p>La Wehrmacht y las Waffen-SS combatieron con lo que quedaba del 6.º Ejército Acorazado SS del Grupo de Ejércitos Sur que se retiró de Budapest, cuyos restos materiales consistían tan solo en 52
    carros de combate y cañones de asalto intactos, de los cuales 28 fueron estacionados en Viena y los demás en la zona conocida como los Bosques de Viena. A pesar de que el 6 de abril llegaron
    los refuerzos de la especialmente fanatizada y combativa Führer-Grenadier-Division,2​las fuerzas alemanas sumaban apenas 20.000 soldados en Viena y 8.000 en los bosques circundantes.</p>
  </div>
  <div id="seg">
  <img src="assets/imagenes/uno.jpeg" />
  </div>
  <div id="tercero"><img src="assets/imagenes/dos.png" /></div>
  <div id="cuarto">
    <p>El 15 de abril de 1945 , las tropas del 3º Frente Ucraniano soviético habían conseguido atravesar Austria. Las agotadas restos de lo que había sido el 6º Ejército Panzer SS tuvieron
    que cubrir la zona entre Viena y Linz . Apenas ante los alemanes en retirada estaba el 9º Ejército Blindado de la Guardia y el 46º Ejército. El 26º Ejército Soviético y el 27º Ejército
    Soviético avanzaban hacia el norte de Graz, justo delante del 6º Ejército alemán . El 57º Ejército Soviético y el 1º Ejército Búlgaro avanzaban hacia la zona al sur de Graz
    (cerca de Maribor , en frente del 2º Ejército Panzer en retirada.</p>
    <p>La batalla de Viena se cobró aproximadamente 20.000 muertos y en los bosques de Viena fallecieron unas 5.000 personas. De todas las víctimas, alrededor del 20% fueron civiles.
    Otros hablan de 37.000 soldados muertos.1​ Entre las víctimas civiles figuran personalidades como Emil Stepanek, director artístico de los estudios cinematográficos Rosenhügel y
    la actriz Lizzi Waldmüller. En agosto de 1945, el ayuntamiento de Viena publicó la cifra oficial de tan solo 5.000 tumbas de soldados. Por eso puede decirse que Viena, en comparación
    con las batallas que se produjeron al final de la Segunda Guerra Mundial en Budapest o Varsovia, donde en cada una de ellas hubo más de 100.000 víctimas, salió relativamente bien
    parada.</p>
  </div>
  </div>
