
<div id="contenedor">
  <div id="primer">
  <h1>Ofensiva de Kursk</h1>

   <p>En 1943, la fuerza de la Luftwaffe en el Frente Oriental comenzó a debilitarse después de Stalingrado y el desvío de recursos al norte de África.135​ Las fuerzas de la Luftwaffe en el este se agotaron
    aún más, ya que las unidades de combate fueron trasladadas a Alemania para defenderse de la escalada de los bombardeos aliados.136​ A fines de junio, solo el 38.7 por ciento del total de aviones de la
    Luftwaffe permanecía en el este.137​ En 1943, la Luftwaffe aún podía alcanzar la superioridad aérea local al concentrar sus fuerzas. La mayoría de los aviones alemanes que quedaron disponibles en el Frente
    Oriental estaban destinados a Ciudadela.131​ El objetivo de la Luftwaffe se mantuvo sin cambios. La prioridad de las flotas aéreas alemanas era obtener superioridad aérea, luego aislar el campo de batalla
    de los refuerzos enemigos y, finalmente, una vez que se había alcanzado el punto crítico en la batalla terrestre, brindar apoyo aéreo cercano.</p>

   <p>Las fuerzas cambiantes entre los dos oponentes llevaron a la Luftwaffe a realizar cambios operativos para la batalla. Las campañas ofensivas anteriores se habían iniciado con ataques de la Luftwaffe
    contra aeródromos opuestos para lograr la superioridad aérea. En este punto de la guerra, las reservas de equipos del Ejército Rojo eran extensas y los comandantes de la Luftwaffe se dieron cuenta de que
    los aviones podían reemplazarse fácilmente, haciendo que tales ataques fueran inútiles. Por lo tanto, esta misión fue abandonada. Además, las campañas anteriores habían hecho uso de bombarderos medianos
    que volaban bien detrás de la línea del frente para bloquear la llegada de refuerzos. Esta misión, sin embargo, rara vez se intentó durante la Ciudadela.</p>

   <p>El mando de la Luftwaffe entendió que su apoyo sería crucial para el éxito de la Operación Ciudadela, pero los problemas con la escasez de suministros dificultaron sus preparativos.
    La actividad partisana, particularmente detrás del Grupo de Ejércitos Centro, redujo la tasa de reabastecimiento y redujo la capacidad de la Luftwaffe para acumular reservas esenciales
    de gasolina, petróleo, lubricantes, motores, municiones y, a diferencia de las unidades del Ejército Rojo, no había reservas de aviones que podría utilizarse para reemplazar a las
    aeronaves dañadas en el transcurso de la operación.140​ El combustible fue el factor limitante más significativo.141​ Para ayudar a acumular suministros para el apoyo de Ciudadela,
    la Luftwaffe redujo considerablemente sus operaciones durante la última semana de junio.142​ A pesar de esta conservación de recursos, la Luftwaffe no tuvo los recursos para sostener
    un esfuerzo aéreo intensivo por más de unos pocos días después de que comenzó la operación.</p>
  </div>
  <div id="seg">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/cp7Ursc51Ls" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  
  <div id="cuarto">
    <p>El 15 de abril de 1945 , las tropas del 3º Frente Ucraniano soviético habían conseguido atravesar Austria. Las agotadas restos de lo que había sido el 6º Ejército Panzer SS tuvieron
    que cubrir la zona entre Viena y Linz . Apenas ante los alemanes en retirada estaba el 9º Ejército Blindado de la Guardia y el 46º Ejército. El 26º Ejército Soviético y el 27º Ejército
    Soviético avanzaban hacia el norte de Graz, justo delante del 6º Ejército alemán . El 57º Ejército Soviético y el 1º Ejército Búlgaro avanzaban hacia la zona al sur de Graz
    (cerca de Maribor , en frente del 2º Ejército Panzer en retirada.</p>
  </div>
  </div>
