<mat-sidenav-container class="sidenav-container">
  
   
  
   
  
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu Historias</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/pais1"><strong>Batalla de Viena</strong></a><!-- Nombre agregado con la rutas del link -->
      <a mat-list-item routerLink="/pais2"><strong>Batalla de Budapest</strong></a><!-- Nombre agregado con la rutas del link -->
      <a mat-list-item routerLink="/pais3"><strong>Batalla de Kursk</strong></a><!-- Nombre agregado con la rutas del link -->
      <a mat-list-item routerLink="/art4"><strong>Batalla de Berlin</strong></a><!-- Nombre agregado con la rutas del link -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Resumen</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
